* {
	border: none;
}

#img {
	margin-right: 1.2em;
}

window {
	font-size: 32px;
	background-color: rgba(50,50,50,0.9);
	color: white;
}

#outer-box {

}

#input {
	background-color: rgba(50,50,50,0.5);
	padding: 0.4em;
	color: white;
}

#entry {
	padding: 0.4em;
}

#entry:selected {
	background-color: rgba(0,51,102,0.9);
	border: none;
}

#text:selected {

}

image {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
