[Unit]
Description=Check battery status on Sway

[Service]
ExecStart=sh -c '~/.local/bin/scripts/tiling_wms/sway/sway_battery_check'

[Install]
WantedBy=multi-user.target

