[credential]
	helper = store
[user]
	email = artem_vovchenko@epam.com
	name = Artem Vovchenko
[init]
	defaultBranch = main
[http]
	postBuffer = 157286400
[pull]
	rebase = false
[core]
	autocrlf = false
	pager = delta
[safe]
	directory = *
[interactive]
	diffFilter = delta --color-only --features=diff-so-fancy
[delta]
	navigate = true
	line-numbers = true
